{% extends "base.html" %}
{% block title %}bst Einbruchschutz{% endblock %}

{% block content %}

<div class="intro">
<h2>Sicherheit - von der kompetenten Beratung bis zur fachmännischen Installation</h2>
<div class="intro-p">
<p>Wir bieten unseren Kunden qualitativ hochwertige und flexible Sicherheitslösungen auf den verschiedensten Ebenen an.
 Unsere langjährige Erfahrung in Verbindung mit einer ausgeprägten Innovationskraft kennzeichnet alle unsere Angebote.
Kundenspezifische Produktanpassungen sind unsere Stärke, weil wir absolut system- und herstellerunabhängig sind.
Ihre individuellen Sicherheitsanforderungen sind für unsere Spezialisten die Basis für das Erarbeiten eines ausgereiften Sicherheitskonzepts.

</p>
</div>
<a type="button" href='/login' name="button" class="btn btn-primary btn-lg btn-block">Anmelden</a>
<a type="button" href='/register' name="button" class="btn btn-primary btn-lg btn-block">ein Konto erstellen</a>
</div>

{% endblock %}
